h1:not(:first-child), h2, h3{
	display: inline-block;
	font-family: "Bookman", Georgia, Arial;
	
}

body, h1:first-child{
	font-family:  "Times", serif;
}

h1:first-child{
	font-variant: small-caps;
}

span{
	font-size: 13px;
}

.wiki{
	margin: 0% 5% 0% 5%;
}

.editContent{
	font-size: 10px;
}

.contentDiv{
	padding: 33px;

}

.reference{
	font-size: 8px;
}

/* this is a span because i fucking hate the p  REEEEEEEEEEEEEEEE */
.contentDiv span{
	text-justify: justified;
}

#table_of_chapters{
	font-variant: small-caps;
}

.main{
	width: 77%;
	float: left;
}

#src_img{
	/* position: relative; fills sidebar container */
	width: 100%;
}

.sidebar{
	width: 13%;
	float: left;
	padding-left: 33px;
}
